@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies

@if (User.Identity.IsAuthenticated)
{
    <h2>Bienvenue !</h2>

    <p><strong>Nom :</strong> @User.Identity.Name</p>
    <p><strong>Email récupéré depuis le Resource Server :</strong> @ViewData["userJson"]</p>
}
else
{
    <form asp-controller="Home" asp-action="Login" method="post">
        <button type="submit">SE CONNECTER</button>
    </form>
}